@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Dobrodosla NGO</h1>
<form method = "post" asp-controller="NGO" asp-action="Logout">
    <button class="btn btn-info">Logout</button>
    
    <a href="/Chat/ChatVjuNGO">Chat</a>
    <a href="/Auth/ObjaviDogadjajPage"> Objavi Dogadjaj</a>
</form>