@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method = "post" asp-controller="Korisnik" asp-action="Logout">
    <button class="btn btn-info">Logout</button>
</form>

   <div class="container">
        <div class="row p-1">
            <div class="col-1"></div>
             <label for="userNPB">NGO_USER </label>
             <div class="col-5"><span id="userNPB" /></div>
            @*<div class="col-5"><input type="text" id="userInput" /></div>*@
        </div>
        <div class="row p-1">
            <div class="col-1">Message</div>
            <div class="col-5"><input type="text" class="w-100" id="messageInput" /></div>
        </div>
        <div class="row p-1">
            <div class="col-1">Receiver</div>
            <div class="col-5"><input type="text" class="w-100" id="receiverId" /></div>
        </div>
        <div class="row p-1">
            <div class="col-6 text-end">
                <input type="button" id="sendButtonNGO" value="Send Message To All" />
                
            </div>
        </div>
        <div class="row p-1">
            <div class="col-6">
                <hr />
            </div>
        </div>
        <div class="row p-1">
            <div class="col-6">
                <ul id="messagesList"></ul>
            </div>
        </div>
    </div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chatNGO.js"></script>