
@model IEnumerable<RedisNeo2.Models.Entities.Dogadjaj>
@{
    ViewData["Title"] = "Dogadjaj Page";
}

<div class="text-center">
    <h1 class="display-4">Sve o dogadjajima</h1>
    <p> <a href="/Dogadjaj/AddEventPage">Dodaj</a> </p>
    <p> <a href="/Dogadjaj/GetAll">Svi</a> </p>
    
</div>

