@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <h1 class="display-4">Imas li nalog?</h1>
    <p>Ukoliko imas <a href="/Login/LoginPage"> loginuj se </a></p>
    <label for="lab1">Ukoliko nemas: REGISTRACIJA</label>
    
           
            <p> <a href="/Korisnik/AddKorisnikPage">Korisnik</a> </p>
           <p> <a href="/NGO/AddNGOPage">NGO</a> </p>
      

  

</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/c~/js/chat.js"></script>
