@*
@model IEnumerable<RedisNeo2.Models.Entities.Dogadjaj>*@
    @model RedisNeo2.Models.DTOs.UbaciUSort
@{
    ViewData["Title"] = "Dogadjaj Page";
}

<div class="text-center">
    <h1 class="display-4">Sve o dogadjajima</h1>
    <p> <a href="/Dogadjaj/AddEventPage">Dodaj</a> </p>
    <p> <a href="/Dogadjaj/GetAll">Svi</a> </p>
     <p> <a href="/Dogadjaj/Brisanje"> Brisanje & SviPrijavljeni</a></p>
    <p> <a href="/Dogadjaj/UredjeniDogadjajiPage"> UredjeniDogadjaji </a></p>
    
    <form method="post" asp-action="UbaciUSortedSet">
        Sifra seta: <input type="text" asp-for="sifraseta"/>
        Ime Dogadjaja <input type="text" asp-for="imeDogadjaj"/>
        <button type="submit">Ubaci u sorted set</button>
    </form>

    <hr/>

  
    <form asp-action="UredjeniDogadjaji" method="post">
            Sifra seta: <input type="text" asp-for="sifraseta"/>
       <button type="submit">Sortijraj</button>
    </form>
   
        <hr/>

   
</div>

