@using System.Security.Claims
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var a = Context.User.FindFirstValue(ClaimTypes.Email);
}

<h1>Dobrodosao Korisniče</h1>
<h3 id = "dobrodosao"> @a</h3>
<form method = "post" asp-controller="Korisnik" asp-action="Logout">
    <button class="btn btn-info">Logout</button>
    <a href="/Chat/ChatVjuKorisnik">Chat</a>
    <a href="/Auth/PrijaviSe"> Prijavi se</a>
</form>

<script src="~/js~/js/KorisnikProfile.js"></script>